<!-- <div class="cart">
  <a href="#"><i class='icon-shopping-cart'></i></a>
</div> -->
<div class="fixed-wrapper">
    <h1 class="affix-top">购物车</h1>
</div>

<div id="name" class="cart-table-show">
  <table class="table">
    <thead>
      <tr>
        <th>商品名称</th>
        <th>数量</th>
        <th>单价</th>
        <th></th>
      </tr>
      <tboby>
        <% @cart.each do |item| %>
          <tr data-product="<%= item.f_post_id %>"  data-user="<%= current_user.id %>">
            <td>
              <%= image_tag item.f_post.f_image.thumb, size:"40x40", class:"img-rounded" %>
              <%= item.f_post.title %>
            </td>
            <td>
              <%= number_field_tag :quantiity, item.quantiity, min: 1 %>
              <%= link_to "刷新", "#", class: "" %>
            </td>
            <td>￥<%= item.f_post.sell_price %></td>
            <td><%= link_to "删除", destroy_cart_url(item.f_post_id), method: :delete, data: { confirm: '确定删除吗?'} %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <hr/>
  <div class="price_total col-md-12">
    <div class="col-md-12">
      <h3 style="float: right;margin-right: 50px;">共计: <strong style="color: red;">￥<%= @total_price %></strong></h3>
    </div>
    <div id="name">
      <%= link_to "继续购物", root_url, class:"btn" %>
      <%= link_to "提交订购", "#", class:'btn' %>
    </div>
  </div>

</div>


<%= javascript_include_tag "cart" %>
